/*-------------------------------------------------------------------
|  File: scores.css
|
|  Purpose:  This file contains the styling used on the score board
|            (scores.html)
| 
|
|  Author: Jordan Davis (4/27/2022)
|
|
|  Change Log:
|
*-------------------------------------------------------------------*/

.header {
    border-radius: 25px;
    padding: 60px;
    text-align: center;
    background: #a200ff;
    color: white;
    font-size: 30px;
}

table{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
  }
th, td{
    width: 15%;
  }
  
th {
    background-color: #7101b3;
    color: #ffffff;
    border-radius: 10px;
    height: 3em;
    text-align: center;
    font-size: x-large;
  }
.tableData td{
    background-color: #a200ff;
    border-radius: 10px;
    height: 4em;
    text-align: center;
 }
.tableDataGroups td{
    background-color: #a200ff;
    color: #ffffff;
    border-radius: 10px;
    height: 5em;
    text-align: center;
    font-size: 2vw;
  }

button{
  background-color: #a200ff;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 3em;
  width: 15em;
  border: #ffffff;
  color: #ffffff;
}

button:hover{
  background-color: #7101b3;
}