/*-------------------------------------------------------------------
|  File: styles.css
|
|  Purpose:  This file contains the styling used on the bingo board
|            (index.html)
| 
|
|  Author: Jordan Davis (4/27/2022)
|
|
|  Change Log:
|
*-------------------------------------------------------------------*/

.header {
    border-radius: 25px;
    padding: 60px;
    text-align: center;
    background: #a200ff;
    color: white;
    font-size: 30px;
}

.header2 {
  text-align: center;
  background-color: #540085;
  color: white;
  border-radius: 3px;
  width: 75%;
  height: 2.4em;
  font-size: 2.3vw;
  margin-right: auto;
  margin-left: auto;
    /*used to disable text selection*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}



table {
  width: 75%;
  height: 35%;
}

table, th, td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
}

th, td{
  width: 15%;
}

td{
  height: fit-content;
}

th {
  background-color: #7101b3;
  color: #ffffff;
  border-radius: 10px;
  height: 25%;
  text-align: center;
  font-size: x-large;
}

.tableData td{
  background-color: #a200ff;
  border-radius: 10px;
  text-align: center;
  font-size: 10%; 
  overflow: hidden;
}

.tableDataGroups td{
  background-color: #a200ff;
  color: #ffffff;
  border-radius: 10px;
  
  width: 65%;
  text-align: center;

  display: table-cell;
}
.tableDataGroups td:hover{
  background-color: #8100cc;
}

#boardTable{
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

#boardTable tr{
  height: 7vh;
}

#boardTable td{
  width: 25%;
  font-size: calc(20vw / 10);
  /*used to disable text selection*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
