.header {
    border-radius: 25px;
    padding: 60px;
    text-align: center;
    background: #a200ff;
    color: white;
    font-size: 30px;
}

.header2 {
  text-align: center;
  background-color: #540085;
  color: white;
  border-radius: 3px;
  width: 65%;
  height: 2em;
}

table {
  width: 65%;
}

table, th, td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
}

th, td{
  width: 15%;
}

th {
  background-color: #7101b3;
  color: #ffffff;
  border-radius: 10px;
  height: 3em;
  text-align: center;
  font-size: x-large;
}
.tableData td{
  background-color: #a200ff;
  border-radius: 10px;
  height: 4em;
  text-align: center;
}

.tableDataGroups td{
  background-color: #a200ff;
  color: #ffffff;
  border-radius: 10px;
  height: 5em;
  text-align: center;
}
.tableDataGroups td:hover{
  background-color: #8100cc;
}
